<%= flash[:group_name_error] %>

<%= form_with model: @group, local: true do |f| %>
  
  <div>
  <% if @members.present? %>
    <% @members.each do |member| %>
      <div>
        追加するメンバーにチェックをしてください
      </div>
      <div>
      <%= check_box_tag "group[user_ids][]", member.id %>
      <%= label_tag "group[user_ids][]", member.nickname %>
      <%= label_tag "group[user_ids][]", member.email %>
      </div>
    <% end %>
  <% end %>
  </div>

  <div class="field">
  <%= f.label 'グループ名を入力してください' %><br />
  <%= f.text_field :name, autocomplete: "name", class:"new-group-form" %>
  <input name="group[user_ids][]" value=<%= current_user.id %> type="hidden">
  </div>
  <div class="actions">
  <%= f.submit "グループを作成", class:"new-group-btn" %>
  </div>
<% end %>