<%= flash[:group_name_error] %>

<div class="new-group-wrapper">
  <div class="new-group-section">
    <div class="new-group-title">
      グループ作成
    </div>

    <%= form_with model: @group, local: true do |f| %>
 
    <div class="field">
      <%= f.label 'グループ名' %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"new-group-form" %>
    </div>
      <input name="group[user_ids][]" value=<%= current_user.id %>>
      <input name="group[user_ids][]" value=<%= params[:group][:user_ids] %>>


    <div class="actions">
      <%= f.submit "作成", class:"new-group-btn" %>
    </div>
    <% end %>
  </div>
</div>
