<%= flash[:group_name_error] %>

<%= form_with model: @group, local: true do |f| %>
  
  <div>
  <%# メンバーリストに追加されたユーザーがいる場合のみ実行 %>
  <% if @members.present? %>
    <div>
      チェックを入れるとメンバーが確定します。
    </div>
    <% @members.each do |member| %>  
      <div>
      <%= check_box_tag "group[user_ids][]", member.id %>
      <%= label_tag "group[user_ids][]", member.nickname %>
      <%= label_tag "group[user_ids][]", member.email %>
      </div>
    <% end %>
  <% end %>
  </div>

  <div class="field">
  <%= f.label 'グループ名を入力してください' %><br />
  <%= f.text_field :name, autocomplete: "name", placeholder: 'グループ名', class:"new-group-form" %>
  <input name="group[user_ids][]" value=<%= current_user.id %> type="hidden">
  </div>
  <div class="actions">
  <%= f.submit "グループを作成", class:"group-create-btn" %>
  </div>
<% end %>

<%= link_to 'ユーザー検索に戻る', search_users_path %>