グループ詳細画面
<div>
  グループ名：<%= @group.name %>
</div>
<div>
  参加しているユーザー：
  <% @users.each do |user| %>
    <%= user.nickname %>
  <% end %>
</div>
<div>
  作成済みのお買い物リスト：
<div>
<div>
  <%= @group.name %>の在庫リスト：
</div>

<div>
  <%= link_to 'グループを編集する', edit_group_path(@group.id) %> 
</div>

<div>
  <%= link_to '新しいお買い物リストを作成' %>
</div>

<div>
  <%= link_to '在庫リストを作成する' %>
</div>

<div>
  <%= link_to 'グループを削除する', group_path(@group.id), data: { turbo_method: :delete } %>
</div>