グループ詳細画面
<div>
  <%= link_to 'グループ名', edit_group_path(@group.id) %> <%= @group.name %>
</div>
<div>
  <%= link_to '参加メンバー', edit_group_path(@group.id) %>
  <% @users.each do |user| %>
    <%= user.nickname %>
  <% end %>
</div>
<div>
  作成済みのお買い物リスト：
<div>
<div>
  <%= @group.name %>の在庫リスト：
</div>

<div>
  <%= link_to '新しいお買い物リストを作成' %>
</div>

<div>
  <%= link_to '在庫リストを作成する' %>
</div>
