メンバーに追加されたユーザー

<% @members.each do |member| %>
  <div>
  <%= check_box_tag "group[user_ids][]", member.id %>
  <%= label_tag "group[user_ids][]", member.nickname %>
  <%= label_tag "group[user_ids][]", member.email %>
  </div>
<% end %>

<div>
<%= link_to 'ユーザー検索を続ける', root_path %>
</div>
<div>
<%= link_to 'グループ作成に進む', new_group_path %>
</div>