<%= flash[:group_name_error] %>

<%= form_with model: @group, url: groups_path, local: true do |f| %>

  
  <% if @users.present? %>
  <div>
    ユーザーを選択してください
  </div>
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <%= check_box_tag "group[user_ids][]", user.id %>
        <%= label_tag "group[user_ids][]", user.nickname %>
        <%= label_tag "group[user_ids][]", user.email %>
      <% end %>
    <% end %>
  <% else %>
    該当するユーザーはいませんでした
  <% end %>

  <div class="field">
  <% if @users.present? %>
    <%= f.label 'グループ名を入力してください' %><br />
    <%= f.text_field :name, autocomplete: "name", class:"new-group-form" %>
    <input name="group[user_ids][]" value=<%= current_user.id %> type="hidden">
    <div class="actions">
    <%= f.submit "グループを作成", class:"new-group-btn" %>
    </div>
  <% end %>
  </div>

<% end %>