<%= form_with model: @user, url: add_members_to_list_groups_path, method: :get, local: true do |f| %>

  <div>
  <% if @users.present? %>
  <div>
    ユーザーをメンバーリストに追加できます
  </div>
  <div>
    リストに加えるユーザーを選択
  </div>
    <% @users.each do |user| %>
      <%= check_box_tag "group[user_ids][]", user.id %>
      <%= label_tag "group[user_ids][]", user.nickname %>
      <%= label_tag "group[user_ids][]", user.email %>
    <% end %>
    <div class="actions">
    <%= f.submit "メンバーリストに追加", class:"add-member-to-list-btn" %>
    </div>
  <% else %>
    該当するユーザーはいませんでした
    <div>
    <%= link_to '戻る', search_users_path %>
    </div>
  <% end %>
  </div>

<% end %>