<!DOCTYPE html>
<html>
  <head>
    <title>Kauzo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&family=Dela+Gothic+One&family=M+PLUS+1+Code:wght@700&family=Mochiy+Pop+P+One&family=Murecho:wght@800&family=Open+Sans:wght@300&family=Paytone+One&family=Rethink+Sans:wght@500&family=Roboto:ital,wght@0,500;1,100&family=Rowdies:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&family=Dela+Gothic+One&family=M+PLUS+1+Code:wght@200;700&family=Mochiy+Pop+P+One&family=Murecho:wght@800&family=Open+Sans:wght@300&family=Paytone+One&family=Rethink+Sans:wght@500&family=Roboto:ital,wght@0,500;1,100&family=Rowdies:wght@700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="header__title-section">
          <%= link_to '買う蔵', root_path, class:"title" %>
        </div>
        <div class="header__nav-section">
          <% if user_signed_in? %>
            <div class="user-login">
              ユーザー名：<%= current_user.nickname %>
            </div>
            <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class:"user-logout" %>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path, class:"user-login" %>
            <%= link_to '新規登録', new_user_registration_path, class:"user-logout" %>
          <% end %>
        </div>
      </div>
    </header>
    <div class="main">
      <%= yield %>
    </div>
    <footer>
      <div class="footer">
        ＠copyrights kauzo.com created by komafuji 2023
      </div>
    </footer>
  </body>
</html>
